@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');



:root{
    --tran : all 0.3s linear;
}
.container-contact{
   
    display: flex;    
    flex-direction: column;
    border-radius: 15px;
    height: 70vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.contact100-form-title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;

}


.wrap-input100{
    
    display: flex;
    justify-content: center;

   
}

.input100{
    display: grid;
    text-align: center;
    width: 500px;
    margin: 10px;
    border-radius: 8px;
    border: 0.1rem solid #1e272e;

}

.container-contact100-form-btn{
 
    text-align: center;
    
    

}
.submit1{
    margin: 15px;
}
.contact100-form-btn{
    border: 0.2rem solid #1e272e;
    margin: 1rem;
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem ;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
    color: #1e272e;
    position: relative;
    z-index: 1;
    transition: var(--tran);
    overflow: hidden;

}

.contact100-form-btn::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: var(--tran);
    top:0;
    left:0;
    background-color:  #37f537;

}

.contact100-form-btn:hover:before{
    transform: translateX(0);
    z-index: -1;

}
.contact100-form-btn:hover {
    color: #fff;
}
.contact100-more{
    
    margin-left: 1rem;   
}

.contact100-more-highight{
    color: rgb(250, 245, 245);
    font-size: 1rem;

}