
.containerhome{height: 90vh;
   background-image: url('../assets/Home.jpg'); 
    background-size: cover;
    border-radius: 15px;
    box-shadow: inset 0 0 0 2000px rgba( 0 0 0 0.9);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
}



.titleThree {
    color: blue;
}
.titlename{
    font-size: 4em;
}
.type1{
    font-size: 2em;
}


.button1,.button2{
    margin: 15px;
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
    width: 150px;
    background: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0.664);
    box-shadow: 5px 5px 5px -1px rgba(10, 99, 169, 0.16), 
              -5px -5px 5px -1px rgba(255, 255, 255, 0.70);
    
}

.button1:hover, 
.button2:hover{
    box-shadow: inset 5px 5px 5px -1px rgba(10, 99, 169, 0.16), 
             inset -5px -5px 5px -1px rgba(255, 255, 255, 0.70);
}
