@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #5b5ef5;
  --primary-color-dark: #4e28f7;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #ffdbdca4;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  font-family: "Poppins", sans-serif;
}

.asection {
  border-radius: 15px;
  background-color: var(--extra-light);
}

.asection__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.acontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.asubtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.atitle {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.atitle span {
  font-weight: 600;
}

.adescription {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.aaction__btns {
  display: flex;
  gap: 1rem;
}

.aaction__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.ahire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.ahire__me:hover {
  background-color: var(--primary-color-dark);
}

.aportfolio {
  color: var(--primary-color);
}

.aportfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.aimage {
  display: grid;
  place-items: center;
}

.ah3 {
  font-size: 2em;
  font-weight: 700;
  margin-top: -2em;
}

.aimage img {
  border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
  box-shadow: -15px -6px 22px #dbcdcd;
  transition: ease 0.4s;
  
}

.aimage:hover img:hover{
  border-radius: 0% 100% 0% 100% / 66%
              18% 82% 34%
            
            
}

@media (width < 750px) {


  .asection__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .aimage {
    grid-area: 1/1/2/2;
  }

  .aaction__btns {
    margin: auto;
  }
}

