.skillsmain{
    padding: 5px;
    max-width: max-content;
    width: 95%;
    margin: 20px auto;
    border-radius: 15px;
}

.skillsmain h4 {
    padding: 0 15px;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.columns{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin:12px 0;
}

.column{
    flex: 1;
    border: 2px solid #666;
    text-align: center;
    margin: 20px;
    padding: 10px;

    background: rgba(255, 255, 255, 0.705);
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.3s;
}

.column:hover
{transform: scale(1.2);}

