.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
    font-size: 3rem;
    font-weight: 700;
}
    
.project-container{
    max-width: 1140px;
    
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;

}

.project-card{
    background: #e8e8e8;
    
    margin-top: 12px;
    padding: 1.2rem 1rem; overflow: hidden;
    box-shadow: 0 5px 25px 2px rgba(0,0,0,0.11);

}

.project-card img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
   
    
}

.project-title{
    color: black;
    padding: 1rem 0;
    font-weight: bold;
}
.pro-details p{
    padding-bottom: 1rem;
    font-size: small;
    text-align: justify;
    color: black;
}

@media screen and (max-width:740px){
    .project-container{
        max-width: 80%;
        margin: auto;
        grid-template-columns: 1fr;
    }
    .probtn{
       
        text-align: center;
    }
}